body {
	background-color: #111821;
	/*padding: 10px;*/
	/*margin: 40px;*/
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: auto;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-image: url('Hex_7.jpg');
	/*background-image: url('back.gif');*/
	/*overflow: hidden;*/
}
h1 {
	color: #8b8e91;
	width: auto;
	text-align: center;
	font-family: garamond;
	/*height: auto;
  padding: 5px;
  margin: 5px;*/
}
p {
	color: #8b8e91;
	padding: 10px;
	margin: 20px;
	text-align: center;
	font-size: 28px;
}
.aboutC {
	text-align: justify;
	color: #a2a6a9;
	font-size: 20px;
	line-height: 1.4;
	/*font-family:garamond;
  font-family:monospace;*/
	/*font-family: 'Special Elite', cursive;*/
	/*font-family: 'Orbitron', sans-serif;*/
	font-family: 'Merienda', cursive;
	/*font-family: 'Rock Salt', cursive;*/
	/*font-family: 'Marck Script', cursive;*/
	/*font-family: 'Reenie Beanie', cursive;*/
	/*width: 50%;*/
	margin-left: 10%;
	margin-right: 10%;
}
.resumeStats {
	font-family: 'Times New Roman', text-align: justify;
	color: #a2a6a9;
	font-size: 20px;
	margin-left: 10%;
	margin-right: 10%;
}
.resumeStatsList {
	font-size: 17px;
	line-height: 0.75;
}
img {
	max-width: 100%;
	height: auto;
	/*margin: 5px;*/
}

.imgLogo {
	width: 50%;
}

a.link3 {
	color: #889cb3;
	background-color: transparent;
	text-decoration: none;
	text-align: inherit;
	padding: 0;
	margin: 0;
}
a.link3:link {
	color: #889cb3;
	background-color: transparent;
	text-decoration: none;
	text-align: inherit;
	padding: 0;
	margin: 0;
}
a.link3:visited {
	color: #889cb3;
	background-color: transparent;
	text-decoration: none;
	text-align: inherit;
	padding: 0;
	margin: 0;
}
a.link3:hover {
	color: #0099ff;
	background-color: transparent;
	text-decoration: underline;
	text-align: inherit;
	padding: 0;
	margin: 0;
}
a.link3:active {
	color: #889cb3;
	background-color: transparent;
	text-decoration: none;
	text-align: inherit;
	padding: 0;
	margin: 0;
}

.text {
	color: #8b8e91;
	font-size: 24px;
	font-family: garamond;
	text-align: center;
	opacity: 1;
	position: absolute;
	padding: 5px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.buttonHome {
	/*float: center;
  text-align: center;
  background-color: rgba(0, 0, 255, 0.3);*/
	/*width: 100px;
  height: 50px;
  margin: 5px;*/
	display: inline-block;
	border-radius: 8px;
	background-color: #202e3c;
	border: none;
	color: #8b8e91;
	text-align: center;
	/*font-size:1vw;*/
	font-size: 24px;
	font-family: garamond;
	padding: 10px;
	width: 125px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 1px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.buttonHome span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.buttonHome span:after {
	content: "»";
	/* \00bb */
	font-size: 32px;
	position: absolute;
	opacity: 0;
	top: -7.5px;
	right: -20px;
	transition: 0.5s;
}
.buttonHome:hover span {
	padding-right: 24px;
	padding-left: 1px;
}
.buttonHome:hover span:after {
	opacity: 1;
	right: 0;
}
#p01 {
	/*color: blue;*/
	text-align: center;
	color: #8b8e91;
	font-size: 14px;
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #0038ffe3;
	color: #d8d8d8;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#myBtn:hover {
	background-color: #3e69fff5;
	color: #ffffff;
}
#myBtn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.25s;
}
#myBtn span:after {
	content: "Top ↑";
	font-size: 18px;
	position: absolute;
	opacity: 0;
	top: 0px;
	right: -20px;
	transition: 0.25s;
}
#myBtn:hover span {
	padding-right: 50px;
	padding-left: 1px;
}
#myBtn:hover span:after {
	opacity: 1;
	right: 0;
}
hr {
	/*width: auto;*/
	width: 90%;
	/*margin-left: auto;
  margin-right: 100px;*/
}
@media screen and (max-width: 1200px) {
	.text {
		padding: 5px;
	}
	.imgLogo {
		width: 100%;
	}
	.aboutC {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		font-size: 17px;
	}
	.resumeStatsList {
		line-height: 1.25;
	}
  a.link3 {
    font-size: 17px;
  }
	/*.buttonHome{
		width: 200px;
    height: 75px;
		font-size: 45px;
	}*/
	#myBtn {
    /*padding: 5%;*/
		font-size: 18px;
  }
}
/*@media screen and (max-width: 900px) {
	#myBtn {
    padding: 5%;
		font-size: 75px;
  }
}*/
@media screen and (max-width: 700px) {
	.imgLogo {
		width: 100%;
		/*margin: 0;
		padding-top: 0;
		padding-bottom: 0;*/
	}
	.aboutC {
		font-size: 14px;
		text-align: justify;
	}
  a.link3 {
    font-size: 14px;
  }
	.resumeStats {
		line-height: 1.25;
		margin-left: 2%;
		margin-right: 2%;
	}
	.resumeStatsList {
		line-height: 1.25;
	}
  #myBtn {
    /*padding: 7.5%;*/
		font-size: 18px;
  }
}
