body {
	background-color: #111821;
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: auto;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-image: url('Hex_7.jpg');
}

main {
	text-align:center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.fullContent {
	display: none;
}

header {

}

footer {

}

nav {
	color: #8b8e91;
	width: 100%;
	font-size:12px;
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.buttonNav {
	color: #8b8e91;
	width: 100%;
	font-size:12px;
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.socialBar {
	display: inline-flex;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}

.fof {
	display: block;
	/*font-family: 'Orbitron', sans-serif;*/
	font-family: 'Merienda', cursive;
	text-align: center;
	color: #8b8e91;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 40px;
	margin-left: auto;
	margin-right: auto;
}

.fof h1 {
	font-size: 28px;
	font-family: 'Merienda', cursive;
}

.fof h2 {
	font-size: 18px;
	padding-bottom: 20px;
	padding-top: 0px;
}

.fof img {
	width: 600px;
	border-radius: 20% / 12%;
}

.fof button {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	cursor: pointer;
  transition: .3s all ease-in;
	color: rgba(99, 138, 255, 0.9);
 	font-size: 22px;
	padding: 10px;
	padding-left: 14px;
	padding-right: 14px;

 	text-decoration: none;
 	border: solid 2px rgba(67,111,243,30%);
 	background-color: rgba(67,111,243,15%);
	border-radius: 4%;

	box-shadow: 0px 0px 6px 2px #436ff3;
	-webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.fof button:hover {
	/*color: #142149; *//*#202020;*/
	color: rgba(20, 33, 73);
	cursor: pointer;
	background-color: rgba(99, 138, 255, 0.9);
	transition: .15s all ease-in;

	border-radius: 50% / 15%;
}

.showcase {
	height: 100vh;
	display:inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	/*color: #fff;*/
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
		center/cover;*/
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	/*background: rgba(0, 0, 0, 0.5);*/
	position: absolute;
}

.content {
	z-index: 2;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(52, 71, 128,40%);
	width: 100%;
	/*padding-top: 10px;*/
	padding-bottom: 2px;
	/*border: 12px double #181818;
	outline: 12px dashed #181818;
	outline-offset: -12px;*/
}
.moveUp {
	/*animation: 1s cubic-bezier(.86,0,.07,1) slideInFromBelow;*/
}

@keyframes slideInFromBelow {
  0% {
    /*transform: translateY(400px);*/
    transform: translateY(24px);
  }
  100% {
    transform: translateY(0px);
  }
}

polygon {
  stroke: #24b3ff;
  stroke-width: 2;
	stroke-linecap: square;
  /*stroke-dasharray: 50, 750;*/
  stroke-dasharray: 50;
  stroke-dashoffset: 0;
  fill: none;
  /*animation: border 10s linear infinite;*/
}
#line1 {
	stroke: #8ad6ff;
	animation: border 10s linear infinite;
}
#line2 {
	animation: borderReverse 10s linear infinite reverse;
}
@keyframes border {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 50;
  }
}
@keyframes borderReverse {
	0% {
    stroke-dashoffset: 0;
  }
	50% {
    stroke-dashoffset: 50;
  }
	100% {
    stroke-dashoffset: 0;
  }
}

.borderz {
	/*border: 12px double #181818;*/
	/*border: 8px solid #181818;*/
	border: 8px solid #0D0C1D;
	/*outline: 12px dashed #181818;
	outline-offset: -12px;*/
}

.gradient-border {
  --borderWidth: 3px;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(45deg,
															#00466b,
															#194a6b,
															#32546b,
															#435c6b,
															#59636b,
															#707070);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 8s ease-in-out alternate infinite;
  background-size: 300% 300%;
	opacity: 0.4;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	33% {
		background-position: 50% 100%;
	}
	66% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 50% 0%;
	}
}

.landPageBtn {
	display: inline-block;
	font-size: 60px;
	/*font-family: 'Orbitron', sans-serif;*/
	/*font-family: nasalization, sans-serif;*/
	font-family: 'Audiowide', cursive;
	font-weight: 100;
	text-align: center;
	cursor: pointer;
  transition: .4s all ease-in-out;
	color: #E8AEB7;
	padding: 10px;
	padding-left: 14px;
	padding-right: 14px;
	margin-top: 16px;
 	text-decoration: none;
 	border: solid 2px rgba(67,111,243,30%);
 	background-color: rgba(67,111,243,15%);
	border-radius: 0%;
	box-shadow: 0px 0px 24px 2px #436ff3;
	text-shadow: 0 0 6px #000000;
	-webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.landPageBtn:hover {
	color: #EEE5E9;
	background-color: rgba(67,111,243,50%);
	font-weight: 1000;
	transition: .2s all ease-in-out;
	border-radius: 50% / 15%;
	box-shadow: 0px 0px 6px 2px #436ff3;
	box-shadow: none;
	text-shadow: none;
	filter: none;
	animation-play-state: paused;
}

.glowFade2 {
	border-radius: 5px;
	filter: drop-shadow(0 0 2px #000000)
					drop-shadow(0 0 4px #111111);
	animation: fadeNout 4s Ease-in-out infinite;
}
.glowFade2:hover {
	transition: .2s all ease-in-out;
	animation: none;
	filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1))
					drop-shadow(0 0 2px rgba(17, 17, 17, 1));
	box-shadow: 0px 0px 2px 2px #436ff3;
}
@keyframes fadeNout {
	0% {
		/*opacity: 100%;*/
		filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1))
						drop-shadow(0 0 4px rgba(17, 17, 17, 1));
		box-shadow: 0px 0px 24px 2px #436ff3;
	}
	20% {
		/*opacity: 20%;*/
		filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4))
						drop-shadow(0 0 4px rgba(17, 17, 17, 0.4));
		box-shadow: 4px 4px 16px 2px #436ff3;
	}
	30% {
		/*opacity: 20%;*/
		filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4))
						drop-shadow(0 0 4px rgba(17, 17, 17, 0.4));
		box-shadow: 2px 4px 22px 2px #436ff3;
	}
	50% {
		/*opacity: 90%;*/
		filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9))
						drop-shadow(0 0 4px rgba(17, 17, 17, 0.9));
		box-shadow: -4px 0px 20px 2px #436ff3;
	}
	60% {
		/*opacity: 40%;*/
		filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.7))
						drop-shadow(0 0 4px rgba(17, 17, 17, 0.7));
		box-shadow: 0px -4px 28px 2px #436ff3;
	}
	70% {
		/*opacity: 40%;*/
		filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.7))
						drop-shadow(0 0 4px rgba(17, 17, 17, 0.7));
		box-shadow: 2px -2px 24px 2px #436ff3;
	}
	90% {
		/*opacity: 100%;*/
		filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1))
						drop-shadow(0 0 4px rgba(17, 17, 17, 1));
		box-shadow: -2px 0px 18px 2px #436ff3;
	}
	100% {
		/*opacity: 100%;*/
		filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9))
						drop-shadow(0 0 4px rgba(17, 17, 17, 0.9));
		box-shadow: 0px 0px 24px 2px #436ff3;
	}
}

#landHeadText {
	/*margin-top: 16px;*/
	margin-bottom: 2px;
	font-size: 28px;
	/*font-family: 'Orbitron', sans-serif;*/
	/*font-family: nasalization, sans-serif;*/
	font-family: 'Audiowide', cursive;
	/*font-style: normal;
	font-weight: 400;*/
	text-align: center;
	/*color: #a4a7ab;*/
	color: #EEE5E9;
	text-shadow: 1px 0 4px rgba(99, 138, 255, 1);
	text-shadow: 1px 0 4px #310A31;
}
#tMute {
	/*margin-top: 12px;*/
	font-size: 32px;
	/*font-family: 'Orbitron', sans-serif;*/
	/*font-family: nasalization, sans-serif;*/
	font-family: 'Audiowide', cursive;
	/*font-style: normal;
	font-weight: 400;*/
	text-align: center;
	cursor: pointer;
	/*color: rgba(99, 138, 255, 0.9);*/
	/*color: #847996;*/
	color: #EEE5E9;
	/*color: rgba(20, 33, 73);*/
	background-color: rgba(67,111,243,0%);
	border: solid 2px rgba(67,111,243,0%);
	/*text-shadow: 1px 0 4px rgba(99, 138, 255, 0.9);*/
	text-shadow: 1px 0 4px #181818;
}
#tMute:hover {
	/*color: rgba(99, 138, 255, 0.9);*/
	text-shadow: 1px 0 16px #181818;
	/*text-decoration: underline;*/
	transition: .15s all ease-in;
}

/*-----------------------------------------------------------------*/
/*---------------------------About Page----------------------------*/

.imgLogoStyle {
	width: 42%;
	border-radius: 20px;
}
.aboutC {
	margin-left: 10%;
	margin-right: 10%;
}
.greeting {
	text-align: center;
	font-size: 28px;
	color: #abafb3;
	line-height: 1.4;
	font-family: 'Merienda', cursive;
}
.aboutCText {
	text-align: justify;
	color: #abafb3;
	font-size: 20px;
	line-height: 1.4;
	font-family: 'Merienda', cursive;
}
.resumeStats {
	font-family: 'Times New Roman';
	color: #a2a6a9;
	font-size: 20px;
	margin-left: 10%;
	margin-right: 10%;
}
.resumeStatsHeader {
	font-size: 28px;
	color: #64696b;
	font-weight: bold;
}
.resumeStatsList {
	line-height: 0.75;
}
.rDownloads {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
}

.rLink {
	background-color: transparent;
	text-decoration: none;
	display: inline;
	text-align: center;
	padding: 15px;
	font-family: garamond;
	color: #a2a6a9;
	font-size: 20px;
	cursor: pointer;
	width: 20%;
}

.rLink:hover, .rLink:active {
	color: #0099ff;
	text-decoration: underline;
}

.rLink img {
	filter: invert(0.5);
	width: 40px;
}

.rLink:hover img {
	filter: invert(1);
}
a.link3 {
	color: #abafb3;
	background-color: transparent;
	text-decoration: underline;
	text-align: inherit;
	padding: 0;
	margin: 0;
}
a.link3:hover {
	color: #0099ff;
	background-color: transparent;
	text-align: inherit;
	padding: 0;
	margin: 0;
}
a.linkG {
	color: #abafb3;
	background-color: transparent;
	text-decoration: none;
	text-align: inherit;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
a.linkG:visited {
	color: #889cb3;
	background-color: transparent;
	text-decoration: none;
	text-align: inherit;
	padding: 0;
	margin: 0;
}
a.linkG:hover {
	color: #0099ff;
	background-color: transparent;
	text-decoration: none;
	text-align: inherit;
	padding: 0;
	margin: 0;
}
.text {
	color: #8b8e91;
	font-size: 24px;
	font-family: garamond;
	text-align: center;
	opacity: 1;
	position: absolute;
	padding: 5px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/*-------------------------End About Page--------------------------*/
/*-----------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*---------------------------Wordsearch Page----------------------------*/

h3 {
	color: #c2c7cc;
	font-size: 42px;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	text-decoration: underline;
	margin: 0;
	margin-top: 24px;
}

.pText, .pTextH {
	color: #c2c7cc;
	font-size: 20px;
	font-family: 'Merienda', cursive;
	/*text-align: center;*/
	text-align: justify;
	width: 90%;
	margin: auto;
	margin-bottom: 24px;
	padding-bottom: 24px;
	margin-top: 24px;
	padding-top: 24px;
}

.pTextH {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 8px;
	padding-top: 0;
}

.point {
	cursor: pointer;
}

#ws-main {
	text-align: center;
	margin: auto;
	width: 90%;
	background-color: Transparent;
	background-repeat:no-repeat;
	border:solid #c2c6cc;
	box-shadow: 0px 0px 6px 6px #c2c6cc;
	-webkit-box-shadow: 0px 0px 6px 6px #c2c6cc;
	justify-content: center;
  align-items: center;
}

.ws-input {
	text-align: center;
	/*padding: 12px;*/
	margin: auto;
}

#ws-output {
	/*border:solid #c2c6cc;*/
	width: 90%;
	text-align: center;
	margin: auto;
	margin-top: 24px;
	margin-bottom: 24px;
	color: #c2c7cc;
	font-size: 42px;
	font-family: 'Orbitron', sans-serif;
}

#textbox1, #textbox2, #textbox3, #textbox4, #textbox5 {
	text-align: center;
	text-transform: uppercase;
	font-size: 38px;
	font-family: 'Audiowide', cursive;
	line-height: 2;
	padding: 18px;
	margin: 12px;
	width: 42px;
	height: 42px;
	border: solid #3870ff;
	box-shadow: 0px 0px 4px 4px #3870ff;
	-webkit-box-shadow: 0px 0px 4px 4px #3870ff;
	border-radius: 12px;
}

 #textbox6, #textbox7 {
	 text-align: center;
	 text-transform: uppercase;
	 font-size: 38px;
	 font-family: 'Audiowide', cursive;
	 line-height: 2;
	 padding: 18px;
	 margin: 12px;
	 width: 210px;
	 height: 42px;
	 border: solid #c2c6cc;
	 border-radius: 12px;
 }

 #textbox6 {
	 border: solid #00e000;
	 box-shadow: 0px 0px 4px 4px #00e000;
	 -webkit-box-shadow: 0px 0px 4px 4px #00e000;
 }

 #textbox7 {
	 border: solid #ff3b14;
	 box-shadow: 0px 0px 4px 4px #ff3b14;
	 -webkit-box-shadow: 0px 0px 4px 4px #ff3b14;
 }

 #textbox1:focus, #textbox2:focus, #textbox3:focus,
 #textbox4:focus, #textbox5:focus, #textbox6:focus,
 #textbox7:focus {
	 outline: 0;
	 border: solid #fca417;
	 box-shadow: inset 0px 0px 2px 2px #000000,
	  					 0px 0px 4px 4px #fca417;
	 -webkit-box-shadow: inset 0px 0px 2px 2px #000000,
	  					 0px 0px 4px 4px #fca417;
 }

#submit, #reset {
	color: #c2c6cc;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'Orbitron', sans-serif;
	padding: 12px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 32px;
	border: 2px solid #3870ff;
	border-radius: 12px;
	cursor: pointer;
	background-color: rgba(56, 112, 255, .1);
	box-shadow: 0 0 0 #000000;
	-webkit-box-shadow: 0 0 0 #000000;
	-webkit-appearance: none;
	/*animation: compact 4s infinite;*/
}

#submit:hover, #reset:hover {
	color: #ffffff;
	background-color: rgba(56, 112, 255, .75);
	text-shadow: 2px 2px 2px #000000,
							 -1px -1px 2px #000000;
	box-shadow: inset 0px 0px 2px 2px #000000;
	-webkit-box-shadow: inset 0px 0px 2px 2px #000000;
	/*animation: compact 4s infinite;*/
}

#submit:active, #reset:active {
	color: #3870ff;
	background-color: rgba(56, 112, 255, .5);
	text-shadow: 4px 4px 2px #000000,
							 -1px -1px 2px #000000;
							 /*-8px 8px 2px #000000,
							 8px -8px 2px #000000;*/
	box-shadow: inset 0px 0px 2px 2px #000000;
	-webkit-box-shadow: inset 0px 0px 2px 2px #000000;
	/*animation: compact reverse 2s infinite;*/
}

#output {
	word-wrap: break-word;
	line-height: 2;
	color: #c2c7cc;
	font-size: 24px;
	font-family: 'verdana';
	/*text-align: center;*/
	text-align: justify;
}

@keyframes compact {
		from {
			text-shadow: 8px 8px 2px #000000,
									 -8px -8px 2px #000000,
									 -8px 8px 2px #000000,
									 8px -8px 2px #000000;
		}
		to {
			text-shadow: 2px 2px 2px #000000,
									 -1px -1px 2px #000000;
		}
}

/*-------------------------End Wordsearch Page--------------------------*/
/*----------------------------------------------------------------------*/

@media screen and (min-width: 2000px) {
	main {
		margin-top: 80px;
		margin-bottom: 80px;
	}
	.imgLogoStyle {
		width: 45%;
	}
}

@media screen and (max-width: 1350px) {
	main {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.imgLogoStyle {
		width: 60%;
	}
}

@media screen and (max-width: 1200px) {
	main {
		margin-top: 20px;
	}
	.socialBar {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.imgLogoStyle {
		width: 75%;
	}
	.text {
		padding: 5px;
	}
	.aboutC {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		/*font-size: 32px;*/
	}
	.resumeStatsHeader {
		font-size: 28px;
	}
	.resumeStatsList {
		line-height: 1.25;
	}
	.pageButton {
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.rDownloads {
		margin-bottom: 16px;
	}
	.rLink {
		width: 25%;
	}
	.pText, .pTextH {
		font-size: 18px;
		width: 90%;
	}
}

@media screen and (max-width: 700px) {
	nav {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.buttonNav {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.video-container video {
		height: 200px;
	}
	.landPageBtn {
		font-size: 42px;
	}
	#landHeadText {
		font-size: 24px;
		overflow-x: visible;
	}
	#tMute {
		font-size: 28px;
		/*color: rgba(99, 138, 255, 0.9);*/
		/*color: rgba(140, 106, 6, 1);*/
		/*text-shadow: 1px 0 4px #ffffff;*/
		/*text-shadow: 1px 0 4px #000000;*/
		/*filter: invert();*/
	}
	.imgLogoStyle {
		width: 100%;
	}
	.greeting {
		font-size: 20px;
	}
	.aboutC {
		/*font-size: 32px;*/
		/*text-align: justify;*/
		width: 94%;
		margin-left: 3%;
		margin-right: 3%;
	}
	.aboutCText {
		text-align: left;
	}
	.resumeStats {
		line-height: 1.25;
		margin-left: 2%;
		margin-right: 2%;
	}
	.resumeStatsHeader {
		font-size: 28px;
	}
	.resumeStatsList {
		line-height: 1.25;
	}
	.rDownloads {
		margin-bottom: 16px;
	}
	.rLink {
		width: 25%;
	}
	.letterContainer{
		width: 90%;
		margin: auto;
	}
	#textbox1, #textbox2, #textbox3, #textbox4, #textbox5 {
		height: 32px;
		width: 6%;
		font-size: 28px;
	}
	 #textbox6, #textbox7 {
		 width: 184px;
		 height: 32px;
		 font-size: 28px;
	 }
	 #submit, #reset {
		 font-size: 18px;
		 margin: 8px;
		 margin-top: 16px;
		 margin-bottom: 16px;
	 }
	 #output {
		 font-size: 22px;
		 text-align: justify;
	 }
}

@media screen and (max-width: 600px) {
	nav {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.buttonNav {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.socialBar {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.letterContainer{
		width: 100%;
		margin: 0;
	}
	#textbox1, #textbox2, #textbox3, #textbox4, #textbox5 {
		/*height: 42px;
		width: 42px;
		font-size: 38px;*/
		height: 24px;
		width: 4%;
		font-size: 20px;
		margin: 8px;
	}
	 #textbox6, #textbox7 {
		 width: 70%;
		 height: 24px;
		 font-size: 20px;
	 }
}
@media screen and (max-width: 500px) {
	#textbox1, #textbox2, #textbox3, #textbox4, #textbox5 {
		height: 42px;
		width: 14%;
		font-size: 20px;
		margin: 3px;
		margin-bottom: 12px;
		padding: 0;
	}
	 #textbox6, #textbox7 {
		 width: 84%;
		 height: 24px;
		 font-size: 20px;
		 padding: 12px;
	 }
}
