body {
	background-color: #111821;
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: auto;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-image: url('Hex_7.jpg');
}

h1 {
	color: #8b8e91;
	width: auto;
	text-align: center;
	font-family: garamond;
	font-size:12px;
	margin-left: auto;
	margin-right: auto;
}
p {
	color: #8b8e91;
	padding: 10px;
	margin: 20px;
	text-align: center;
	font-size: 28px;
}

.btn-group button {
	background-color: #00000000;
	color: #00000000; /* White text */
	/*padding: 10px 24px;*/ /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	border: none;
}
/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #00000000;
}

.imgSocial {
	width: 16.66667%;
	height: 100%;
}

.socialBar {
	/*position: relative;*/
  /*height: 25px;*/
	background-color: #00000000;
	color: #00000000;
	display: inline-flex;
}

.socialProps {
	/*list-style-type: none;
	background-color: #00000000;
	color: #00000000;*/
	width: 80%;
	/*margin: auto;
	padding: 10px;*/
	/*display: table;*/
	display:         flex;
  flex-wrap:       wrap;
  justify-content: center;
}
.socialProps img {
  /*display: inline;
  margin-left: 5px;*/
	/*display:inline-block;*/
	/*display: table-cell;*/
	/*text-align: center;
	margin: auto;*/
	width: 40%;
	/*height: auto;*/
	/*float: left;*/
}

.socialProps a {
	/*display: block;
	width: 16.66667%;*/
	/*width: 85px;
	height: 85px;*/
	margin-left: auto;
	margin-right: auto;
}

img {
	max-width: 100%;
	height: auto;
	/*margin: 5px;*/
}
/* [1] The container */

.img-hover-zoom {
	height: auto;
	/* [1.1] Set it as per your need */
	overflow: hidden;
	/* [1.2] Hide the overflowing of child elements */
}
/* [2] Transition property for smooth transformation of images */

.img-hover-zoom img {
	transition: transform 0.4s ease-in-out;
}
/* [3] Finally, transforming the image when container gets hovered */

.img-hover-zoom:hover img {
	transform: scale(1.1);
	border-radius: 8px;
}

.glowBorder:hover {
	color: #436ff3;
	border: 10px #436ff3;
	border-radius: 8px;
	box-shadow: /*0 0 4px 4px #436ff3,*/
							0 0 1px 4px #000000, /*1e1f20*/
							0 0 25px 15px #436ff3;
}

.imgLogo {
	width: 40%;
}

/*.imgLogo:hover {
	-webkit-filter: drop-shadow(0 0 1px #99bbff);
	-moz-filter: drop-shadow(0 0 1px #99bbff);
	-ms-filter: drop-shadow(0 0 1px #99bbff);
	filter: drop-shadow(0 0 1px #99bbff);
}*/

/*h4 img:hover {
	-webkit-filter: drop-shadow(0 0 1px #ffffff);
	-moz-filter: drop-shadow(0 0 1px #ffffff);
	-ms-filter: drop-shadow(0 0 1px #ffffff);
	filter: drop-shadow(0 0 1px #ffffff);
}*/

.img2 {
	max-width: 100%;
	/*border: 1px solid #ddd;*/
	/*border-radius: 4px;*/
	/*margin: 5px;*/
	display: block;
	/*object-fit: cover;
	object-position: 0 0;*/
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
	top:0;
  left:0;
	/*360px;*/
}

/*.imgBlur{
	filter: blur(4px);
	position: relative;
}*/
/*.wrapper2 {
  margin: 0 auto;
  text-align: center;
}*/

/*.verticalLine {
  border-left: 1px solid #a2a6a9;
  padding: 10px;
}*/

.imgPSContainer {
	/*width: 90%;*/
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.imgPhotoshoot {
	width: auto;
	height: 30%;
	padding: 10px;
	position: relative;
	object-fit: cover;
	overflow: hidden;
}

a.link2 {
	color: #262a30;
	background-color: transparent;
	text-decoration: none;
	/*display: inline-block;*/
	display: flex;
	text-align: center;
}
a.link2:link {
	display: inline-block;
	padding: 15px 25px;
}
a.link2:visited {
	color: #5e646b;
}
a.link2:hover {
	color: #7b8aa0;
}
a.link2:active {
	color: #00409e;
}

a.link3 {
	color: inherit;
	text-decoration: none;
}

a.link3:hover {
	color: #436ff3;
	text-decoration: underline;
}

a.link4 {
	color: #262a30;
	/*width: 100%;
	height: auto;*/
	background-color: transparent;
	text-decoration: none;
	display: inline;
	text-align: center;
}

.socialHover:hover {
	filter: drop-shadow(0 0 2px #ffffff) brightness(1.2);
}

.container {
	/*align-items: center;*/
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	width: 27%;
	margin: 5px;
	text-align: center;
	/*overflow: auto;*/
}
.overlay {
	/*position: relative;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;*/
	/*width: 100vw;*/
	position: relative;
	/*left: 50%;
  right: 50%;*/
	margin-left: -50vw;
	margin-right: -50vw;
	height: auto;
	/*width: 28%;*/
	/*opacity: 0.5;*/
	color: #8b8e91;
	transition: color .75s ease;
	background-color: #008CBA;
}
.container:hover .overlay {
	opacity: 1;
	color: #d3dce6;
	/*text-transform: uppercase;*/
	font-weight: bold;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topDesc {
	text-align: center;
	width: 75%;
	margin-left: 12.5%;
	margin-right: 12.5%;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 0.1em;
}

.text {
	/*color: #d3dce6;*/
	font-size: 24px;
	/*font-family: garamond;*/
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	opacity: 1;
	position: absolute;
	padding: 5px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.modalP {
	font-size: 20px;
	font-weight: 100px;
	color: #abafb3;
	/*font-family: 'Merienda', cursive;*/
	font-family: 'verdana';
	text-align: left;
	position: relative;
}

.modalH2 {
	color: #d3dce6;
	font-family: 'Merienda', cursive;
	text-align: left;
	font-size: 28px;
}
.modalH2-2 {
	color: #d3dce6;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	font-size: 32px;
	font-weight: lighter;
}

#modalA {
	text-decoration: underline;
	color: inherit;
}

#modalA:hover {
	color: #3C56E9;
	cursor: pointer;
}

.modal-content {
	display: block;
	position: relative;

}

.modal-content > div {
	width: 60%;
	position: relative;
	margin: auto;
	padding: 20px;
	color: #d3dce6;
}

.close {
	font-size: 24px;
	text-align: center;
	width: 20%;
	text-decoration: none;
	transition: .15s all ease-in;
	color: rgba(67,111,243);
	font-weight: bold;
	border: solid 2px rgba(67,111,243,30%);
	background-color: rgba(67,111,243,30%);
	border-radius: 15px;
	box-shadow: 0px 0px 6px 2px #436ff3;
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	margin: 0 auto;
	position: absolute;
	top: 90%;
	left: 65%;
	line-height: normal;
	display: block;
	/*z-index: 99999;*/
}

.close:hover,
.close:focus {
	color: #142149;
	cursor: pointer;
	background-color: rgba(67,111,243);
	transition: .15s all ease-in;
}

/*.button {
	display: inline-block;
	background-color: Transparent;
	background-repeat:no-repeat;
	outline: none;
	color: #8b8e91;
	font-size: 24px;
	font-family: 'Orbitron', sans-serif;
	padding: 8px;

	cursor: pointer;
	height: 100%;
	border: solid 2px #436ff3;
  border-radius: 8px;
  background: rgba(255, 255, 255,0);
	box-shadow: 0px 0px 6px 2px #436ff3;
  transition: .3s all ease-in;
}

.button:hover, .button:focus {
	outline: none;
	color: #d3dce6;
	transition: color;
	background-color: Transparent;
  background-repeat:no-repeat;
	border:solid 2px #bc9c36;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 2px #bc9c36;
	transition: .15s all ease-in;
}*/

.pageButton {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	cursor: pointer;
  transition: .3s all ease-in;
	color: rgba(67,111,243); /*#949a9e;*/
 	font-size: 24px;
 	font-weight: bold;
 	transition: 0.3s;
	padding: 6px;
	padding-left: 12px;
	padding-right: 12px;

 	/*width: 100%;*/
 	text-decoration: none;
 	border: solid 2px rgba(67,111,243,30%);
 	background-color: rgba(67,111,243,15%);
	border-radius: 15px;
	box-shadow: 0px 0px 6px 2px #436ff3;
	-webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	margin: 0 auto;
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: 45%;*/
}

.pageButton:hover {
	color: #142149; /*#202020;*/
	cursor: pointer;
	background-color: rgba(67,111,243);
	transition: .15s all ease-in;
}

.buttonAbout {
	color: #8b8e91;
	width: 100%;
	text-align: center;
	font-family: garamond;
	font-size:12px;
	display: block;
	/*margin-left: auto;
	margin-right: auto;*/
}

#p01 {
	text-align: center;
	color: #8b8e91;
	font-size: 14px;
	width:auto;
	font-family: 'Orbitron', sans-serif;
}

hr {
	-moz-width: 90%;
	-webkit-width: 90%;
	-ms-width: 90%;
	width: 90%;
}

hr.rounded {
	border-top: 1px solid #bbbbbb;
	border-radius: 5px;
	-webkit-filter: drop-shadow(0 0 2px #ffffff)
					drop-shadow(0 0 4px #99bbff);
	-moz-filter: drop-shadow(0 0 2px #ffffff)
					drop-shadow(0 0 4px #99bbff);
	-ms-filter: drop-shadow(0 0 2px #ffffff)
					drop-shadow(0 0 4px #99bbff);
	filter: drop-shadow(0 0 2px #ffffff)
					drop-shadow(0 0 4px #99bbff);
}

hr.roundedTwo {
	width: 25%;
	border-top: 1px solid #bbbbbb;
	border-radius: 5px;
	-webkit-filter: drop-shadow(0 0 2px #ffffff)
					drop-shadow(0 0 4px #99bbff);
	-moz-filter: drop-shadow(0 0 2px #ffffff)
					drop-shadow(0 0 4px #99bbff);
	-ms-filter: drop-shadow(0 0 2px #ffffff)
					drop-shadow(0 0 4px #99bbff);
	filter: drop-shadow(0 0 2px #ffffff)
					drop-shadow(0 0 4px #99bbff);
}


.left, .right, .main {
	float: left;
	width: 28%;
	/* The width is 20%, by default */
}

/* --------------------------------------------------------------------- */

@media screen and (max-width: 1350px) {
	.imgPSContainer {
		text-align: center;
		margin-left: 5%;
		margin-right: 5%;
	}
	.imgPhotoshoot {
		height: 20%;
		padding: 10px;
	}
}

@media screen and (max-width: 1200px) {
	.socialProps img {
		width: 40%;
	}
	.container {
		width: 94%;
		margin: 0 auto;
		padding: 5px;
	}
	.overlay {
		opacity: 1;
	}
	.img2 {
		display: block;
		width: 100%;
		height: auto;
		/*margin: 0 auto;*/
		margin-left: auto;
		margin-right: auto;
	}
	.text {
		padding: 5px;
	}
	.imgLogo {
		width: 75%;
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	.modal-content > div {
		width: 75%;
		overflow: inherit;
	}
	.pageButton {
		width: auto;
	}
	hr.roundedTwo {
		width: 50%;
	}
}
@media screen and (max-width: 850px) {
	.imgPSContainer {
		text-align: center;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.imgPhotoshoot {
		/*height: 30%;*/
		width: auto;
		padding: 5px;
	}
}
@media screen and (max-width: 775px) {
	.imgPhotoshoot {
		height: 15%;
		width: auto;
	}
}
@media screen and (max-width: 700px) {
	.imgLogo {
		width: 100%;
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.socialProps img {
		width: 80%;
	}

	h4 img {
		width: 40%;
	}
	.modal-content > div {
		width: 75%;
		height: auto;
		overflow-x: hidden;
		overflow-y: hidden;
	}
	.modalP {
		margin: 5% auto;
		text-align: left;
	}
	.topDesc {
		text-align: center;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		font-size: 18px;
	}
	.pageButton {
		width: auto;
		left: 50vw;/*calc(50% - width);*/
	}
	hr.rounded {
		border-top: 2px solid #bbb;
		border-radius: 5px;
	}
	hr.roundedTwo {
		width: 90%;
		border-top: 2px solid #bbb;
		border-radius: 5px;
	}
}
@media screen and (max-width: 600px) {
	.imgPhotoshoot {
		height: 20%;
		width: auto;
	}
}
@media screen and (max-width: 400px) {
	.modal-content > div {
		width: 90%;
		height: auto;
		overflow-y: hidden;
		text-align: left;
	}
	.modalP {
		margin: 5% auto;
		text-align: left;
	}
	/*.imgPSContainer {
		text-align: center;
		margin-left: 5%;
		margin-right: 5%;
	}*/
	.imgPhotoshoot {
		height: auto;
		width: 100%;
		/*padding: 10px;*/
	}
}
@media screen and (min-width: 2000px) {
	.socialProps img {
		width: 40%;
	}
	.imgLogo {
		width: 30%;
	}
	hr.roundedTwo {
		width: 20%;
	}
}
