AuthName "Schuyler Meyer"

AddDefaultCharset UTF-8

DefaultLanguage en-US

AcceptPathInfo On

ErrorDocument 404 ../404.html

RewriteEngine on
RewriteRule ^photography/([^\./]+)\.html /$1.html [L]

Access-Control-Allow-Origin: https://www.schuylermeyer.com/

# RewriteEngine on

# RewriteCond %{REQUEST_FILENAME}.html -f
# RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]
