ErrorDocument 404 ../404.html

Access-Control-Allow-Origin: https://www.schuylermeyer.com

# RewriteEngine on

# RewriteCond %{REQUEST_FILENAME}.html -f
# RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]